
<div class="container">
	<h1>Teams</h1>
	<table class="table">
		<tr>
			<th>Team</th><th>Supervisor</tr>
			</tr>
	<% @teams.each do |team| %>
	<tr>
	  <td><%= team.name %></td>
	  <td><%= team.supervisor.name unless team.supervisor_id.nil? %></td>
	  <td><%= link_to "View Team", team_path(team)%></td>
	</tr>
	<% end %>
	</table>
	<br>
	<%= link_to "Add New Team", new_team_path %>
</div>
